@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    @apply text-4xl font-bold tracking-tight sm:text-6xl;
  }
  h2 {
    @apply text-3xl font-bold tracking-tight sm:text-4xl;
  }
  h3 {
    @apply text-2xl font-bold tracking-tight;
  }
  a {
    @apply text-red-600 hover:text-red-500;
  }
} 