/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./app/styles/schedule.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.schedule-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
}

.track {
  position: relative;
}

@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 5px #FF2496, 0 0 10px #FF2496;
  }
  50% {
    text-shadow: 0 0 8px #FF2496, 0 0 15px #FF2496;
  }
}

@keyframes cyan-glow {
  0%, 100% {
    text-shadow: 0 0 5px #42F5FF, 0 0 10px #42F5FF;
  }
  50% {
    text-shadow: 0 0 8px #42F5FF, 0 0 15px #42F5FF;
  }
}

.animate-glow {
  animation: cyan-glow 3s ease-in-out infinite;
}

.track-title {
  position: sticky;
  top: 0px;
  z-index: 10;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 36 150 / var(--tw-text-opacity, 1));
  animation: glow 3s ease-in-out infinite;
}

.events-container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(73, minmax(2rem, auto));
  min-height: calc(73 * 2rem);
}

.event-item {
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(66 245 255 / 0.2);
  background-color: rgb(17 24 39 / 0.7);
  padding: 0.75rem;
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  margin: 2px;
  min-height: 4rem;
  transition: all 0.3s ease;
}

.event-item:hover {
  border-color: rgb(255 36 150 / 0.3);
  --tw-shadow: 0 0 20px rgba(255, 36, 150, 0.5);
  --tw-shadow-colored: 0 0 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.event-item .time {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(66 245 255 / var(--tw-text-opacity, 1));
}

.event-item .title {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.event-item .duration {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(187 64 255 / var(--tw-text-opacity, 1));
}

.event-item.break {
  border-color: rgb(187 64 255 / 0.2);
  background-color: rgb(17 24 39 / 0.6);
}

.event-item.closed {
  border-color: rgb(255 36 150 / 0.2);
  background-color: rgb(17 24 39 / 0.5);
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.event-item.keynote {
  --tw-border-opacity: 1;
  border-color: rgb(66 245 255 / var(--tw-border-opacity, 1));
  box-shadow: 0 0 10px rgba(66, 245, 255, 0.2);
}

.event-item.keynote:hover {
  box-shadow: 0 0 20px rgba(66, 245, 255, 0.3);
} 
